body {
    background: #161616;
}

.blogPost{
   display: flex;
   flex-direction: column;
   border-radius: 30px;
   justify-content: center;
   align-items: center;
}

.blogPost img{
    border-radius: 30px;
}