body {
    margin: 20px;
    background: #343d4e;
}

.blogPost{
   display: flex;
   flex-direction: column;
   border-radius: 30px;
   justify-content: center;
   align-items: center;
}

.blogPost img{
    border-radius: 30px;
}