@import './root.css';

header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 90px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 90px;

    border-bottom: 1px solid var(--grey);
}

nav .logo {
    font-size: 32px;
    font-weight: 500;
}

.scale-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 92%;
    height: 100%;
}

.links {
    display: flex;

    align-items: center;
}

.default-links {
    display: flex;
    gap: 50px;

    margin-right: 150px;
}

.default-links > a {
    font-size: 24px;

    gap: 40px;

    color: var(--grey-text);

    transition: color 0.2s ease;
}

.default-links > a:hover {
    color: var(--white);
}

.login-link {
    font-size: 24px;
    
    padding: 10px 30px;
    
    border: 1px solid var(--green-bright);
    border-radius: 30px;
    
    color: var(--black-background);
    background-color: var(--green-bright);

    transition: 0.2s ease;
}

.login-link:hover {
    background-color: var(--black-background);
    color: var(--green-bright);
}