.header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: var(--navbar-height);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: var(--navbar-height);

    border-bottom: 1px solid var(--grey);
}

.nav .logo {
    font-size: 32px;
    font-weight: 500;
}

.scaleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 92%;
    height: 100%;
}

.links {
    display: flex;

    align-items: center;
}

.defaultLinks {
    display: flex;
    gap: 50px;

    margin-right: 150px;
}

.defaultLinks > a {
    font-size: 24px;

    gap: 40px;

    color: var(--grey-text);

    transition: color 0.2s ease;
}

.defaultLinks > a:hover {
    color: var(--white);
}

.loginLink {
    font-size: 24px;
    
    padding: 10px 30px;
    
    border: 1px solid var(--green-bright);
    border-radius: 30px;
    
    color: var(--black-background);
    background-color: var(--green-bright);

    transition: 0.2s ease;
}

.loginLink:hover {
    background-color: var(--black-background);
    color: var(--green-bright);
}

.userData > .username {
    font-size: 24px;

    color: var(--green-bright);

    transition: color 0.2s ease;
}

.userData > .username:hover {
    color: var(--green-link-hover);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    background-color: var(--black-background);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 15px 20px;
    z-index: 1;

    border: 1px solid var(--green-bright);
    border-radius: var(--window-radius);
}

.dropdown:hover .dropdownContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}