@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
@import url('./normalize.css');

:root {
    --black-background: #161616;
    --grey: #464646;
    --dark-grey: #222222;
    --grey-text: #C9C9C9;
    --white: #fff;
    --green-bright: #00EB96;
    --green-dark: #006742;
    --green-link-hover: #00c27b;
    --window-radius: 10px;
    --input-radius: 10px;
    --input-placeholder-offset: 10px;
    --button-radius: 20px;
    --navbar-height: 90px;
}

* {
    font-family: "Plus Jakarta Sans", sans-serif;

    color: var(--white);

    outline: none;
    text-decoration: none;
}

.normal-link {
    transition: all 0.2s ease;
}

.normal-link:hover {
    color: var(--green-link-hover);
}

body {
    background-color: var(--black-background);
}

button, input, select {
    border: 1px solid var(--green-dark);
    outline: none;

    background-color: var(--black-background);
    border-radius: var(--input-radius);

    padding: 5px var(--input-placeholder-offset);
    background-color: transparent;

    transition: all 0.2s ease;
}

button {
    border-color: var(--green-bright);
    cursor: pointer;
}

button:hover {
    background-color: var(--green-dark);
}

input:focus, select:focus {
    border-color: var(--green-bright);
}

input::placeholder {
    color: var(--grey-text);
}